/* Header.css */

:root {
  --primary: #C92071;
  --secondary: #B5B6F2;
  --tertiary: #991956;
  --error: #EE4266;
  --success: #52CA76;
  --warning: #F6AA1C;
  --dark-gray: #1F1F1F;
  --dark-gray-2: #474747;
  --dark-gray-3: #666666;
  --light-gray: #8F8F8F;
  --light-gray-2: #CCCCCC;
  --light-gray-3: #F5F5F5;
  --white: #FFFFFF;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background-color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--dark-gray);
  padding: 10px 20px;
  position: relative;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logo img {
  width: 253px;
  height: 44px;
  margin-bottom: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu ul li {
  margin-right: 20px;
}

.menu ul li a {
  text-decoration: none;
  color: var(--dark-gray);
  font-weight: bold;
  position: relative;
  padding: 5px 0;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--primary);
  transition: width 0.3s;
}

.menu ul li a:hover::after {
  width: 49px;
}

.menu ul li a:hover {
  color: var(--primary);
}

.search-container {
  position: relative;
  flex-grow: 1;
  margin: 0 20px;
}

.search-bar {
  width: 559px;
  height: 60px;
  padding: 0 50px 0 20px;
  border: 1px solid var(--light-gray-2);
  border-radius: 30px;
  font-size: 16px;
  color: var(--dark-gray);
  box-sizing: border-box;
}

.search-button {

  position: center;
  top: 50%;
  right: 20px;
  transform: translateX(-120%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: #474747;
}

.search-icon {
  width: 24px;
  height: 24px;
}

.right-side {
  display: flex;
  align-items: center;
}

.register-link {
  text-decoration: none;
  color: var(--dark-gray);
  margin-right: 10px;
  font-weight: bold;
}

.register-link:hover {
  color: var(--primary);
}

.login-button {
  padding: 5px 10px;
  border: none;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 20px;
  cursor: pointer;
  width: 114px;
  height: 40px;
  margin-right: 10px;
}

.login-button:hover {
  background-color: var(--tertiary);
}

.cart img {
  width: 33px;
  height: 29px;
}
